.BackgroundRegtangle {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.recentPurchases {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recentPurchases h3 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 15px;
}

.recentPurchases p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.recentPurchases p:first-child {
    margin-top: 0;
}

.recentPurchases p:last-child {
    margin-bottom: 0;
}

.actions {
    text-align: center;
    margin-top: 20px;
}